<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../lib/underscore.min.js"></script>
    <script type="text/javascript" src="backbone-min.js"></script>
</head>
<body>
<!-- implement hongbao event using backbone.js -->
<div class="container"></div>

<script type="text/template" id="init">
    <h2>initPage</h2>
    <div class="ctrlDiv"></div>
    <button class='submitBtn'>I am ugly btn:(</button>
    <div class="userLists"></div>
</script>

<script type="text/template" id="voucher">
    <h2>voucherPage</h2>
    <div class="vResult"></div><a href="javascript:void(0)" class="toAcc">change acc</a>
    <div class="userLists"></div>
</script>

<script type="text/template" id="account">
    <h2>changeAcc Page</h2>
    <div class="ctrlDiv"></div><br>
    <button class="changeAccBtn">I am a ugly btn:(</button>
</script>

<script type="text/template" id="user">
    <ul>
        <li>name:<%= name %></li>
        <li>time:<%= time %></li>
        <li>comment:<%= comment %></li>
        <li>score:<%= score %></li>
    </ul>
</script>

<script type="text/javascript">

    var status = 1;

    var AppView = Backbone.View.extend({
        el: '.container',
        initialize: function () {
            this.users = new Users(); // init collection
            this.render();
        },
        getListData: function () {
            var self = this;
            $.get("data.json").success(function (datas) {
                _.each(datas, function (data) {
                    self.users.add(data);//update collection
                })
            })
        },
        render: function () {
            this.$el.empty();
            var self = this;
            if (status == 1) {//初始页面
                this.$el.html(new InitView({collection: this.users}).$el);
                this.getListData();//update lists
            } else if (status == 2) { //获奖页面
                this.$el.html(new VoucherView({collection: this.users}).$el);
                this.getListData();
            } else if (status == 3) { // 修改账号页面
                this.$el.html(new AccView().$el);
            }
        }
    })

    //views
    var InitView = Backbone.View.extend({
        template: _.template($('#init').html()),
        events: {
            'click button.submitBtn': 'getScore'
        },
        initialize: function () {
            this.inputView = new InputBox();
            this.usersView = new ListView({collection: this.collection});
            this.listenTo(this.collection, 'add', this.render);// need re-render when nest view got updates
            this.render();
        },
        render: function () {
            this.$el.html(this.template());//append template to dom
            this.$el.find('.ctrlDiv').append(this.inputView.$el);
            this.$el.find('.userLists').append(this.usersView.$el);
            return this;
        },
        getScore: function () {
            var acc = $('.cell').val();
            if (isValidAcc(acc)) {
                //relocate to voucher Page
                status = 2;
                new AppView();
            } else {
                alert('输入账户不合法呀～');
            }
        }
    });

    var VoucherView = Backbone.View.extend({
        template: _.template($('#voucher').html()),
        events: {
            "click a.toAcc": "gotoAcc"
        },
        initialize: function () {
            this.usersView = new ListView({collection: this.collection});
            this.listenTo(this.collection, 'add', this.render);
            this.render();
        },
        randScore: function (min, max) {
            var score = Math.floor(Math.random() * max) + 1;
            return score < min ? min : score;
        },
        gotoAcc: function () {
            status = 3;
            new AppView();
        },
        render: function () {
            this.$el.html(this.template());
            var score = this.randScore(1, 20);
            this.$el.find('.vResult').append("<p>congrat! your score is" + score + "</p>");
            this.$el.find('.userLists').append(this.usersView.$el);

            return this;
        }
    });

    var AccView = Backbone.View.extend({
        template: _.template($('#account').html()),
        events: {
            "click button.changeAccBtn": "changeAcc"
        },
        initialize: function () {
            this.inputView = new InputBox();
            this.render();
        },
        render: function () {
            this.$el.html(this.template());
            this.$el.find('.ctrlDiv').append(this.inputView.$el);
            return this;
        },
        changeAcc: function () {
            var acc = $('input.cell').val();
            if (isValidAcc(acc)) {
                //relocate to voucher Page
                status = 2;
                new AppView();
            } else {
                alert('输入账户不合法呀～');
            }
        }
    });

    //utilities
    var InputBox = Backbone.View.extend({ //一个<input>：）
        tagName: 'input',
        events: {
            'change': "onChangeInput"
        },
        onChangeInput: function (evt) {
            console.log(evt.currentTarget.value);
        },
        initialize: function () {
            this.render();
        },
        render: function () {
            this.$el.attr('class', 'cell').attr('placeholder', 'sample input');
            return this;
        }
    });


    var UserView = Backbone.View.extend({ //单个user
        template: _.template($('#user').html()),
        initialize: function () {
            this.render();
        },
        render: function () {
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        }
    });

    var ListView = Backbone.View.extend({ //整个listView
        initialize: function () {
            this.listenTo(this.collection, 'add', this.render); // bind trigger event
            this.render();
        },
        render: function () {
            this.$el.empty();
            var self = this;
            this.collection.each(function (model) {
                var userView = new UserView({model: model});
                self.$el.append(userView.$el); // append to existing dome node
            })
            return this;
        }
    });

    //modal
    var User = Backbone.Model.extend({
        defaults: function () {
            return{
                'name': null,
                'comment': null,
                'time': null,
                'score': null
            }
        }
    });

    var Users = Backbone.Collection.extend({
        model: User
    });

    //globals

    function isValidAcc(acc) {
        return _.isNumber(Number(acc));
    }

    //init

    var app = new AppView();

</script>
</body>
</html>