<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/prepay_fill_update.css" type="text/css">
    <script type="text/javascript" src="../lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../lib/underscore.min.js"></script>
    <script type="text/javascript" src="../backbone/backbone-min.js"></script>
</head>
<body>
<div class="container"></div>
<div class="loadingDiv" style="display:none;">
    <div class="loading-img-wrap" ><img src="imgs/loading.gif" class="loading-img"></div>
</div>
<script type="text/template" id="courses">
    <%
       priceClass = disabled ? "price" : "price activePrice";
       btnClass = disabled ? "courseBtn submitBtn " : "courseBtn submitBtn active ";
    %>
    <% _.each(courseBtns,function(courseBtn,i) {%>
         <% if ((i + 1) % 3 == 0) { %>
              <button class='<%= btnClass %>lst-btn' '<%= disabled ? disabled : null %>'>
                  <li class="name"><%= courseBtn.get('name') %>分钟</li>
                  <li class='<%= priceClass %>'>售价<%= courseBtn.get('price') %>元</li>
              </button>
         <% }else{ %>
              <button class='<%= btnClass %>' '<%= disabled ? disabled:""%>'>
                  <li class="name"><%= courseBtn.get('name') %>分钟</li>
                  <li class='<%= priceClass %>'>售价<%= courseBtn.get('price') %>元</li>
              </button>
         <% } %>
    <% });%>
</script>

<script type="text/template" id="kits">
    <%
        priceClass = disabled ? "price" : "price activePrice";
        btnClass = disabled ? "kitBtn submitBtn " : "kitBtn submitBtn active ";
    %>
    <% _.each(kitBtns,function(kitBtn,i) { %>
        <% if ((i + 1) % 3 == 0) { %>
        <button class='<%= btnClass %>lst-btn' '<%= disabled ? disabled : null %>'>
            <li class="name"><%= kitBtn.get('name') %>天</li>
            <li class='<%= priceClass %>'>售价<%= kitBtn.get('price') %>元</li>
        </button>
        <% }else{ %>
        <button class='<%= btnClass %>' '<%= disabled ? disabled : "" %>'>
            <li class="name"><%= kitBtn.get('name') %>天</li>
            <li class='<%= priceClass %>'>售价<%= kitBtn.get('price') %>元</li>
        </button>
        <% } %>
    <% });%>
</script>

<script type="text/template" id="inputDiv">
    <div class="input-outer">
        <input class="phoneInput form-control" placeholder="请输入孩子的手机号" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="imgs/closeBtn.png" class="closeImg">
        </button>
    </div>
    <p class="info">＊孩子的手机号即为账号</p>
</script>

<script type="text/template" id="goodsDiv">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default kitTab" data-value="kit" >包月</button>
        <button type="button" class="btn btn-default courseTab" data-value="course" >课时</button>
    </div>
    <div class="goodsList"></div>
    <div class="clearfix"></div>
</script>

<script type="text/javascript">
var Course = Backbone.Model.extend({
    defaults: function () {
        return{
            'goodsNo': null,
            'name': null,
            'price': null
        }
    }
});

var UnlimitedKit = Backbone.Model.extend({
    defaults: function () {
        return {
            'goodsNo': null,
            'name': null,
            'price': null
        }
    }
});

var SubmitBtn = Backbone.Model.extend({
    defaults:function(){
        return{
            'disabled':true
        }
    }
})

var CourseCollection = Backbone.Collection.extend({
    model: Course,
    url :"../prepay/collection.json"
});

var UnlimitedKitCollection = Backbone.Collection.extend({
    model: UnlimitedKit,
    url:"../prepay/kit.json"
});

//views
var CoursesView = Backbone.View.extend({   //课时list view
    template: _.template($('#courses').html()),
    events:{
        'click .courseBtn':'submitCourse'
    },
    submitCourse:function(){
        console.log('submitCourse');
    },
    initialize: function () {
        this.listenTo(this.collection, 'add', _.once(this.render)); //template load after collections fetched, meanwhile the model has been changed
        this.listenTo(this.model, 'change:disabled', this.changeBtnStatus);//  changeModel and both onInput will trigger
        this.render();
    },
    render: function () {
        console.log('courseView renderd');
        this.$el.html(this.template({"courseBtns":this.collection.models,'disabled':this.model.get('disabled')}));
        return this;
    },
    changeBtnStatus:function(){
        console.log('changeBtnStatus 1 called');
        var self = this;
        var fns = this.model.get('disabled') ? [$.prototype['attr'], $.prototype['removeClass']] : [$.prototype['removeAttr'], $.prototype['addClass']];
        var btns = this.$el.find('button');
        var price = this.$el.find('.price');
        _.each(fns,function(fn,i){
            if (fn == $.prototype['attr']) {
                fn.apply(btns,["disabled", "disabled"]);
            } else {
                var param = (i == 0) ? "disabled" : "active";
                fn.apply(btns,[param]);
                if (param == "active") {
                    fn.apply(price,['activePrice']);
                }
            }
        })
    }
});

var UnlimitedKitsView = Backbone.View.extend({   //包月list view
    template: _.template($('#kits').html()),
    events:{
        'click .kitBtn':'submitKit'
    },
    submitKit:function(){
        console.log('submitKit');
    },
    initialize: function () {
        this.listenTo(this.collection, 'add', _.once(this.render));
        this.listenTo(this.model, 'change:disabled', this.changeBtnStatus);
        this.render();
    },
    render: function () {
        console.log('kits view render');
        this.$el.html(this.template({"kitBtns":this.collection.models,'disabled':this.model.get('disabled')}));
        return this;
    },
    changeBtnStatus:function(){
        console.log('changeBtnStatus 2 called');
        var self = this;
        var fns = this.model.get('disabled') ? [$.prototype['attr'], $.prototype['removeClass']] : [$.prototype['removeAttr'], $.prototype['addClass']];
        var btns = this.$el.find('button');
        var price = this.$el.find('.price');
        _.each(fns,function(fn,i){
            if (fn == $.prototype['attr']) {
                fn.apply(btns,["disabled", "disabled"]);
            } else {
                var param = (i == 0) ? "disabled" : "active";
                fn.apply(btns,[param]);
                if (param == "active") {
                    fn.apply(price,['activePrice']);
                }
            }
        })
    }
});

var GoodsView = Backbone.View.extend({
    template: _.template($('#goodsDiv').html()),
    events: {
        'click .courseTab': 'changeGoodsList',
        'click .kitTab': 'changeGoodsList'
    },
    initialize: function () {
        console.log('coursesview and kits view get inited');
        this.currentTab = "course";
        this.coursesView = new CoursesView({collection: this.collection.courses,model:this.model});
        this.kitsView = new UnlimitedKitsView({collection: this.collection.kits,model:this.model});
        this.render();
    },
    changeGoodsList: function (evt) {
        this.currentTab = evt.currentTarget.getAttribute('data-value');
        this.render();
    },
    render: function () {
        this.$el.empty();
        this.$el.html(this.template()).attr('class', 'goodsWrap');
        var self = this;
        var currentView = this.currentTab == "course" ? this.coursesView : this.kitsView;
        _.each(['courseTab', 'kitTab'], function (tab) {
            self.$el.find('.' + tab).removeClass('tabActive');
        });
        this.$el.find('.' + this.currentTab + "Tab").addClass('tabActive');
        //this.$el.find('.goodsList').append(currentView.$el); // this wont work
        currentView.setElement(this.$el.find('.goodsList')).render(); // it will rebind children events
        return this;
    }
});
var InputView = Backbone.View.extend({
    template: _.template($('#inputDiv').html()),
    events: {
        'input .phoneInput': 'validatePhone',
        'click .close': 'emptyInput'
    },
    validatePhone: function () {
        var input = this.$el.find('input');
        var errMsg = this.$el.find(".info");
        var btn = this.$el.find('button');
        var content = input.val();
        btn.show();
        if (content.length >= 11) {
            input.val(input.val().substr(0,11));
            var isValid = this.isValidNumber(input.val());
            if (!isValid) {
                errMsg.html("＊请输入有效手机号").addClass('warning');
            }
            input.blur();
            this.updateModel(this.model, isValid);
        } else {
            if (content.length < 1) {
                btn.hide();
            }
            errMsg.html("＊孩子的手机号即为账号").removeClass('warning');
            this.updateModel(this.model, false);
        }
    },
    emptyInput: function () {
        this.$el.find('input').val("").attr('placeholder', '请输入孩子的手机号');
        this.$el.find('.close').hide();
        this.updateModel(this.model, false);
    },
    updateModel: function (model, validResult) {
        model.set('disabled', !validResult);
    },
    isValidNumber: function (str) {
        if (Number(str.substr(0, 1)) !== 1) {
            return false;
        }
        for (var i = 1, l = str.length; i < l; i++) {
            if (isNaN(Number(str.substr(i, 1)))) {
                return false;
            }
        }
        return true;
    },
    initialize: function () {
        this.render();
    },
    render: function () {
        this.$el.html(this.template()).attr('class', 'inputWrap');
        return this;
    }
});

var AppView = Backbone.View.extend({
    el: '.container',
    initialize: function () {
        var self = this;
        this.collections = {
            'courses': new CourseCollection(),
            'kits': new UnlimitedKitCollection()
        };
        this.btnStatus = new SubmitBtn();
        this.collections.courses.fetch({success:function(res){
            self.collections.courses.set(res.models);
        }});
        this.collections.kits.fetch({success:function(res){
            self.collections.kits.set(res.models);
        }});
        this.inputView = new InputView({collection: this.collections,model:this.btnStatus});
        this.goodsView = new GoodsView({collection: this.collections,model:this.btnStatus});
        this.render();
    },
    render: function () {
        this.$el.append(this.inputView.$el);
        this.$el.append(this.goodsView.$el);
        this.$el.append("<div class='goodsMsg'><img src='imgs/anouce.png'><span class='goodsTxt'>在学霸君可随时退款</span></div>");
    }
});


$(function(){
    //init
    var app = new AppView();
})

</script>
</body>
</html>